.main-container {
    padding: 10px 100px;
    background-color: #E7EBF4;
  
  }
  
  .about-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));

    margin:60px;
    width:100%;


}
.about-container{
        height:369px;
        width:486px;
        box-sizing: border-box;

    }
.about-container h3:only-of-type{
            color:yellow;
            color:  #FDC435;
            font-family: Nunito;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
    }
.about-container h1:only-of-type{
        color: #333;

        font-family: Playfair Display;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; 
    }
.about-container p:only-of-type{
        color: var(--Gray-3, #828282);

        font-family: Nunito;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; 
    }


.about-container button:first-of-type{
        border-radius: 8px;
        padding:5px;
        background: #FDC435;
        margin-right: 5px;
    }
    
.about-container button:nth-child(2){
        border-radius: 8px;
        padding:5px;

    }
.about-image-container{
        width:400px;
        height:369px;

        box-sizing: border-box;
    }
  
  
  .profile-pic {
    width: 512px;
    height: 420px;
  }
  
  .add-projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .input-container input {
    border: 1px solid #fff;
    padding: 5px;
    height: 25px;
    outline: none;
    width: 350px;
    border-radius: 5px;
    margin-top: 3px;
  }
  
  .input-container textarea {
    width: 350px;
    border: 1px solid #fff;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 3px;
  
  }
  
  .form-button {
    text-align: right;
           
}
.form-button button:only-of-type{
    color:  #25282B; 
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    background: #FDC435;
    width:81px;
    height:46px;
    border-radius: 8px;
    padding:5px;
    background: #FDC435;
    margin-right: 5px;
}
